#word {
	z-index : 1;
	position : absolute;
	/*background: linear-gradient(#5b1971, deeppink);*/
	background: linear-gradient(#3bdeb5, #fc55fc);
	/*background: linear-gradient(#331452, #66e5c5);*/
	width : 100%;
	height : 100%;
	text-align : center;
	transition : 0.5s;
	transform-origin : 0;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=104558), auto;
}

.open-def{
	transform: rotateY(90deg);
}

#word-title {
	color: white;
	font-size: 28pt;
	text-align: center;
	position: absolute;
	top:10%; left:18.5%;
}

#word-title2 {
	color: lightpink;
	font-size: 28pt;
	text-align: center;
	position: absolute;
	top:10%; left:18.9%;
}

#foryou {
	color: pink;
	font-size: 21pt;
	position: absolute;
	top:24%; left:76%;
}

#paracosm {
	color: white;
	font-size: 35pt;
	text-align: center;
}

#word-help{
	color: black;
	font-size: 20pt;
	text-align: center;
}

#venice_page {
	background: url(v.gif);
	position : absolute;
	width : 100%;
	height : 100%;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=104558), auto;
}

#intro_page {
	background: url(drea.png);
	position : absolute;
	width : 100%;
	height : 100%;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=104558), auto;
	overflow: hidden;
}

#introd {
	padding-left: 52%;
	padding-right: 3%;
	padding-top: 1.5%;
	-webkit-animation: fadeinout 4s forwards;
	font-size: 15pt;
}

#sound {
	color: darkred;
	text-decoration: underline; 
}

#smaller {
	font-size: 13.4pt;
}

#vaporw {
	background: -webkit-linear-gradient(#3bdeb5, #fc55fc);
	color:white;
	font-weight: normal;
}

#plane_page {
	position : absolute;
	background: linear-gradient(#4d7e80, darkorange);
	width : 100%;
	height : 100%;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=104558), auto;
	font-size: 10.5pt;
	overflow:hidden;
	text-align : left;
}

#plane_poem {
	position: absolute;
	top:1%; left:5%;
	font-weight: bold;
}

#plane_1, #plane_2, #plane_3, #plane_4, #plane_5 {
	-webkit-animation: fadeinout 4s linear forwards;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

#mayer {
	font-size: 7pt;
	position:absolute;
	top:29%; left:30%;
	-webkit-animation: fadeinout 4s linear forwards;
}

#plane_video {
	position: absolute;
	top:5%; left:42%;
}

#video_cred {
	position: absolute;
	top:66%; left:60%;
	color:black;
	font-size:8.6pt;
}

#plane_play {
	position: absolute;
	top:73%; left:68%;
	background: linear-gradient(midnightblue, darkred);
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=104563), auto;
	font-size: 13pt;
	color: grey;
}

#ciao {
	font-size: 13.4pt;
	padding-left: 5%;
	padding-top: 1%;
	color: darkslategrey;
}
#eng {
	font-size: 13.4pt;
	position:absolute;
	top: 1%; left:5%;
	color: lightpink;
}
#mosh {
	font-size: 8.6pt;
	padding-left: 70%;
}
#andre {
	font-size: 8.6pt;
	padding-left: 24%;
}
#nohidea{
	transform: translate3d(0,10000000000px,0) scale3d(0.1,0.1,0.1);
	overflow: hidden;
}
#washedout{
	transform: translate3d(0,10000000000px,0) scale3d(0.1,0.1,0.1);
	overflow: hidden;
}

#paracosm_page {
	position : absolute;
	background: linear-gradient(#6ff7d5, #26564a);
	width : 100%;
	height : 100%;
	text-align : center;
	transition : 0.5s;
	transform-origin : 0;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=104558), auto;
	overflow: hidden;
}

#shiloh_page {
	position : absolute;
	background: linear-gradient(#ffc999, #efd9c2);
	width : 100%;
	height : 100%;
	text-align : center;
	transition : 0.5s;
	transform-origin : 0;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=104558), auto;
}

#moon_page {
	position : absolute;
	background:  linear-gradient(#07102c, black);
	width : 100%;
	height : 100%;
	text-align : center;
	transition : 0.5s;
	transform-origin : 0;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=104558), auto;
}

#imgBanner {
	display: block;
	margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#para {
	color: black;
	font-size: 19pt;
	text-align: center;
}

#pronun {
	font-size: 12pt;
}

#noun {
	font-size: 8.5pt;
	text-align: center;
	font-style: italic; 
}

#definition {
	font-size: 13.4pt;
	text-align: center; 
}

#space {
	font-size: 13pt;
}

#bold {
	font-style: italic;  
}

#model {
	font-size: 8pt;
	position: absolute;
	top:94%; left:80%;
	text-align: left;
	color: grey;
}

#shiloh_def1 {
	background: white;
        -webkit-background-clip: text;
        -webkit-text-fill-color: white;
	font-size: 14pt;
	text-align: center;
	opacity:0.8;
}

#shiloh_def2 {
	background: -webkit-linear-gradient(#595858, #161616);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
	font-size: 14pt;
	text-align: center;
}

#feeling {
	color: #333333;
	font-size: 14pt;
	text-align: center;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=104563), auto;
}

#nori{
	transform: translate3d(0,250000000000000000px,0) scale3d(0.1,0.1,0.1);
	overflow: hidden;
}

@keyframes fadein {
  0% {
    opacity:1;
  }
  40% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#plant1, #plant2, #plant3, #plant4, #plant5, #plant6, #plant7, #plant8, #plant9, #plant10, #plant11, #plant12, #plant113, #plant114, #plant115, #plant15, #plant16, #plant18, #plant19, #plant20, #plant21{
	position:absolute;
	font-size: 6pt;
	color: white;
	-webkit-animation: fadein 1s forwards;
	animation-iteration-count: 1000000000;
}
#plant1{-webkit-animation-delay: 1s;} #plant2{-webkit-animation-delay: 1.1s;} #plant3{-webkit-animation-delay: 1.2s;} 
#plant4{-webkit-animation-delay: 1.3s;} #plant5{-webkit-animation-delay: 1.4s;} #plant6{-webkit-animation-delay: 1.5s;}
#plant7{-webkit-animation-delay: 1.6s;} #plant8{-webkit-animation-delay: 1.7s;} #plant9{-webkit-animation-delay: 1.8s;}
#plant10{-webkit-animation-delay: 1.9s;} #plant11{-webkit-animation-delay: 2s;} #plant12{-webkit-animation-delay: 2.1s;}
#plant1 {
	top: 28%; left: 39.3%;
}#plant2 {
	top: 81.6%; left: 5%;
}#plant3 {
	top: 88%; left: 16%;
}#plant4 {
	top: 16%; left: 58.13%;
}#plant5 {
	top: 75.1%; left: 2%;
}#plant6 {
	top: 6%; left: 8.5%;
}#plant7 {
	top: 30.5%; left: 5%;
}#plant8 {
	top: 80%; left: 9.5%;
}#plant9 {
	top: 64%; left: 30%;
}#plant10 {
	top: 50%; left: 20.6%;
}#plant11 {
	top: 24%; left: 11.5%;
}#plant12 {
	top: 80.7%; left: 62.4%;
}
#plant15{-webkit-animation-delay: 2.2s;} #plant113{-webkit-animation-delay: 2.3s;} #plant114{-webkit-animation-delay: 2.4s;}
#plant115{-webkit-animation-delay: 2.5s;} #plant20{-webkit-animation-delay: 2.6s;} #plant16{-webkit-animation-delay: 2.7s;}
#plant21{-webkit-animation-delay: 2.8s;} #plant18{-webkit-animation-delay: 2.9s;}
#plant15 {
	top: 6%; left: 83.1%;
}#plant113 {
	top: 19%; left: 94%;
}#plant114 {
	top: 27.9%; left: 75%;
}#plant115 {
	top: 46.2%; left: 66.2%;
}#plant20 {
	top: 95.4%; left: 57.7%;
}#plant16 {
	top: 73.6%; left: 88.5%;
}#plant21 {
	top: 62.3%; left: 79%;
}#plant18 {
	top: 91.1%; left: 93.8%;
}

/* RED */
#paracosm_button {
	position: absolute;
        top: 40%; left: 19%;
	background: linear-gradient(mistyrose, red);
	border: 1px solid indianred;
	color: darkslategrey;
	font-size : 17pt;
	padding: 7px;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=104563), auto;
	opacity: 0.9;
}
#paracosm_button:hover {
	background: linear-gradient(mistyrose, red);
	border: 2px solid indianred;
	opacity: 1;
}

/* SALMON */
#shiloh_button {
	position: absolute;
        top: 36%; left: 64%;
	background: linear-gradient(tan, salmon);
	border: 1px solid lightcoral;
	font-size : 22pt;
	padding-top: 0px; padding-bottom: 7px; padding-left: 7px; padding-right: 7px;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=104563), auto;	
	opacity: 0.9;
}
#shiloh_button:hover {
	background: linear-gradient(tan, salmon);
	border: 2px solid lightcoral;
	opacity: 1;
}

/* DARK BLUE */
#moon_button {
	position: absolute;
        top: 61%; left: 38%;
	background: linear-gradient(#07102c, #1a3fb2);
	border: 1px solid gold;
	color: gold;
	font-size : 17pt;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=104563), auto;
	opacity: 0.9;
}
#moon_button:hover {
	background: linear-gradient(#07102c, #1a3fb2);
	border: 2px solid gold;
	opacity: 1;
}

/* BLUE */
#dream_button {
	position: absolute;
        top: 48%; left: 42%;
	background: linear-gradient(#add8e6, #87cefa);
	border: 1px solid dodgerblue;
	color: white;
	font-size : 15pt;
	padding: 7px;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=104563), auto;	
	opacity: 0.9;
}
#dream_button:hover {
	background: linear-gradient(#add8e6, #87cefa);
	border: 2px solid dodgerblue;
	opacity: 1;
}

/*#venice_button {
	position: absolute;
        top: 77%; left: 57%;
	border: 1px solid goldenrod;
	background: linear-gradient(#4d0000, salmon);
	color: #351a00;
	font-size : 15pt;
	padding: 7px;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=104563), auto;
	opacity: 0.8;
}*/
/* ORANGE */
#venice_button {
	position: absolute;
        top: 77%; left: 57%;	
	background: linear-gradient(#f7d6aa, orange);
	border: 1px solid lightsalmon;
	color: cornsilk;
	font-size : 15pt;
	padding: 7px;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=104563), auto;
	opacity: 0.8;
}
#venice_button:hover {
	background: linear-gradient(#f7d6aa, orange);
	border: 2px solid lightsalmon;
	opacity: 1;
}

@keyframes highlight_2 {
  0%, 11% {
    background-color: transparent;
	color: darkslategrey;
  }20% {
     background: midnightblue;
	color: gold;
	opacity:0.8;
  }29%, 100% {
    background-color: transparent;
	color: darkslategrey;
  }
}
#plane_button {
	position:absolute;
        top: 65%; left: 46%;
	font-size : 15pt;
	padding: 7.5px;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=104563), auto;	
	-webkit-animation: highlight_2 20s infinite;
}
#plane_button:hover {
	background: linear-gradient(black, midnightblue);
	border: 1px solid dimgrey;
}

@keyframes highlight_4 {
  0%, 33% {
    background-color: transparent;
	color: olive;
  }42% {
     background:  midnightblue;
	color: gold;
	opacity:0.8;
  }51%, 100% {
    background-color: transparent;
	color: red;
  }
}
#peng_button {
	position:absolute;
        top: 73%;  left: 26%;
	background: none;
	font-size : 16pt;
	padding: 7px;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=104563), auto;	
	-webkit-animation: highlight_4 20s infinite;
}
#peng_button:hover {
	background: linear-gradient(darkred, midnightblue);
	border: 1px solid olive;
}

#DS_button {
	position:absolute;
        top: 23%;  left: 46%;
	background: none;
	font-size : 13pt;
	padding: 7px;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=104563), auto;	
	-webkit-animation: highlight_4 20s infinite;
}
#peng_button:hover {
	background: linear-gradient(darkred, midnightblue);
	border: 1px solid olive;
}

@keyframes highlight_6 {
  0%, 55% {
    background-color: transparent;
	color: royalblue;
  }64% {
    background:  midnightblue;
	color: gold;
	opacity:0.8;
  }73%, 100% {
    background-color: transparent;
	color: royalblue;
  }
}
#poem_button {
	position:absolute;
        top: 56%; left: 10%;
	background: none;
	font-size : 15pt;
	padding: 7px;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=104563), auto;	
	-webkit-animation: highlight_6 20s infinite;
}
#poem_button:hover {
	background: linear-gradient(#006600,#330d00);
	border: 1px solid royalblue;
}

#vol2 {
	font-size:9pt;
}
@keyframes highlight_9 {
  0%, 89% {
    background-color: transparent;
	color: olive;
  }96% {
    background: midnightblue;
	color: gold;
	opacity:0.8;
  }100% {
    background-color: transparent;
	color: olive;
  }
}
#shiloh2_button {
	position:absolute;
        top: 50%; left: 75%;
	background: none;
	font-size : 15pt;
	padding: 7px;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=104563), auto;	
	-webkit-animation: highlight_9 20s infinite;
}

#shiloh2_button:hover {
	background: linear-gradient(#4d0000, salmon);
	border: 1px solid burlywood;
}

#me {
	font-size: 7pt;
}
#dr {
	font-size: 7pt;
}


#intro_button {
	background: none;
	color: white;
	border: 1.5px solid white;
	padding: 4px;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=104563), auto;	
	font-size: 13.4px;
	font-style: bold;
}
#intro_button:hover {
	background: linear-gradient(darkred, midnightblue);
	color:gold;
	border: 1px solid gold;
}


#luky_button {
	position: absolute;
        top: 87%;  left: 44.5%;
	background: none;
	border: 1.5px solid white;
	color: white;
	padding: 3px;
	font-size: 13.4px ;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=104563), auto;	
}
#luky_button:hover {
	background: linear-gradient(skyblue, darkblue);
	color: bisque;
}

#lukyluky{
	font-size: 12pt;
	position:absolute;
	top: 89.2%; left: 38%;
	-webkit-animation: fadeinout2 4s linear infinite;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;	
}

@-webkit-keyframes fadeinout2 {
   0% {
    opacity:0;
  }
  50% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

#video_credit{
	color: white;
	font-size: 8pt;
	text-align: center;
}

#shiloh_audio_button {
	background: #ffc999;
	font-size : 14pt;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=104563), auto;
}

#shiloh_back_button {
	background: #ffc999;
	color: white;
	font-size : 9pt;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=104563), auto;
}

#back_button {
	background: linear-gradient(lightblue, lightpink);
	color: white;
	font-size : 9pt;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=104563), auto;
}

#moon_play {
	background: black;
	color: white;
	font-size : 14pt;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=104563), auto;
}

.flash {
   animation-name: flash;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
	font-size: 13pt;
}

@keyframes flash {
    from {color: white;}
    to {color: lightblue;}
}

#shiloh1{
	color: white;
	font-size: 10pt;
	position:absolute;
	top: 10%; left: 10%;
	-webkit-animation: fadeinout 4s linear forwards;
}

#shiloh2{
	color: white;
	font-size: 15pt;
	position:absolute;
	top: 18%;
        left: 20%;
	-webkit-animation: fadeinout 4s linear forwards;
}

#shiloh3{
	color: white;
	font-size: 10pt;
	position:absolute;
	top: 60%;
    left: 11%;
	-webkit-animation: fadeinout 4s linear forwards;
}

#shiloh4{
	color: white;
	font-size: 12pt;
	position:absolute;
	top: 61%;
    left: 21%;
	-webkit-animation: fadeinout 4s linear forwards;
}

#shiloh5{
	color: gray;
	font-size: 15pt;
	position:absolute;
	top: 68%;
    left: 27%;
	-webkit-animation: fadeinout 4s linear forwards;
}

#shiloh6{
	color: #6585e7;
	font-size: 10pt;
	position:absolute;
	top: 28%;
    left: 67%;
	-webkit-animation: fadeinout 4s linear forwards;
}

#shiloh7{
	color: #6585e7;
	font-size: 14pt;
	position:absolute;
	top: 30%;
    left: 72%;
	-webkit-animation: fadeinout 4s linear forwards;
}

#shiloh6_repeat{
	color: salmon;
	font-size: 10pt;
	position:absolute;
	top: 28%;
    left: 67.2%;
	-webkit-animation: fadeinout 4s linear forwards;
}

#shiloh7_repeat{
	color: salmon;
	font-size: 14pt;
	position:absolute;
	top: 30%;
    left: 72.2%;
	-webkit-animation: fadeinout 4s linear forwards;
}

#shiloh8{
	color: white;
	font-size: 10pt;
	position:absolute;
	top: 50%;
    left: 73%;
	-webkit-animation: fadeinout 4s linear forwards;
}

#shiloh9{
	color: lightslategray;
	font-size: 13.5pt;
	position:absolute;
	top: 52%;
    left: 76.5%;
	-webkit-animation: fadeinout 4s linear forwards;
}

#shiloh10{
	color: lightslategray;
	font-size: 10pt;
	position:absolute;
	top: 56%;
    left: 83.7%;
	-webkit-animation: fadeinout 4s linear forwards;
}

/* SHILOH VOL.2 PAGE */

#shiloh2_page {
	position : absolute;
	background: linear-gradient(black, #330000);
	width : 100%;
	height : 100%;
	text-align : center;
	transition : 0.5s;
	transform-origin : 0;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=104558), auto;
}

#shiloh2_audio_button{
	background: none;
	color: #e60000;
	border: 1.1px solid #e60000;
	font-size : 14pt;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=104563), auto;
	opacity:0.6;
	position : absolute;
	top:35%; left:50%;
}

#shiloh2_def1 {
	color: darkslategrey;
	font-size: 14pt;
	text-align: center;
	opacity:0.8;
	-webkit-animation: fadeinout 9s linear forwards;
}

#shiloh2_def2 {
	color: 503030;
	font-size: 14pt;
	text-align: center;
	-webkit-animation: fadeinout 8s linear forwards;
}

#shiloh2_def3 {
	color: 403050;
	font-size: 14pt;
	text-align: center;
	-webkit-animation: fadeinout 9s linear forwards;
}

#shiloh21, #shiloh22, #shiloh23, #shiloh24, #shiloh211, #shiloh222, #shiloh233, #shiloh244 {
	color: 222267;
	font-size: 16pt;
	position:absolute;
	-webkit-animation: fadeinout 10s linear forwards;
	opacity: 0.8;
	z-index: 2;
}
#shiloh21{
	top: 56%; left: 32%;
}
#shiloh22{
	top: 56%; left: 48%;
}
#shiloh23{
	top: 72%; left: 31%;
}
#shiloh24{
	top: 72%; left: 58%;
	opacity: 0.8;
	color: #235c5c;
}

#shiloh211, #shiloh222, #shiloh233, #shiloh244 {
	color: red;
	-webkit-animation: fadeinout7 10s linear forwards;
}
#shiloh211{
	top: 56%; left: 32.2%;
}
#shiloh222{
	top: 56%; left: 48.2%;
}
#shiloh233{
	top: 72%; left: 31.2%;
}
#shiloh244{
	top: 72%; left: 58.2%;	
}

#time1, #time2, #time3{
	position: absolute;
	color: darkred;
	font-size: 15pt;
	text-align: left;
	-webkit-animation: fadeinout 10s linear forwards;
}
#time1{
	top:50%; left:8%;
}
#time2{
	top:50%; left:82%;
}
#time3{
	top:60%; left:8%;
}
#nonew{
	font-size: 17pt;
}

#_planes{
	position: absolute;
	top:0%; left:0%;
	-webkit-animation: fadeinout 10s linear forwards;
	opacity:0.8;
}

#shiloh28, #shiloh29, #shiloh30, #shiloh31, #shiloh32 {
	font-size: 21pt;
	-webkit-animation: fadeinout 6s linear forwards;
	position: absolute; 
	opacity: 0.5;
}
#shiloh28{
	top: 68%; left: 57.2%;	
}
#shiloh29{
	top: 58%; left: 57.2%;	
}
#shiloh30{
	top: 48%; left: 57.2%;	
}
#shiloh31{
	top: 38%; left: 57.2%;	
}
#shiloh32{
	top: 14%; left: 67.2%;	
}

#_moon{
	position: absolute;
	top:0%; left:0%;
	-webkit-animation: fadeinout 9s linear forwards;
	opacity:0.8;
}
#its, #all, #over, #now {
	font-size: 21pt;
	-webkit-animation: fadeinout 4s linear forwards;
	position: absolute; 
	opacity: 0.7;
}
#its{
	top: 5%; left: 27.2%;	
}
#all{
	top: 18%; left: 37.2%;	
}
#over{
	top: 29%; left: 45%;	
}
#now{
	top: 40%; left: 68%;	
}

#overr{
	position: absolute;
	color: darkred;
	font-size: 16.5pt;
	-webkit-animation: fadeinout 10s linear forwards;
	top:48%; left:75%;
	text-align: left;
}

#dream_red{
	position: absolute;
	top:0%; left:0%;
	-webkit-animation: fadeinout 9s linear forwards;
	opacity:0.8;
}
#youll, #be, #oright, #intime {
	font-size: 27pt;
	-webkit-animation: fadeinout 10s linear forwards;
	position: absolute; 
	color: black;
	opacity: 0.8;
}
#youll{
	top: 11%; left: 15%;	
}
#be{
	top: 11%; left: 45%;	
}
#oright{
	top: 38%; left: 52%;	
}
#intime{
	top: 55%; left: 71%;	
}


@-webkit-keyframes fadeinout {
  0% { opacity: 0; }
  60%,100% { opacity: 1; }
}

@-webkit-keyframes fadeinout7 {
  0% { opacity: 0; }
  60%,100% { opacity: 0.4; }
}

.stage {
  width: 300px; height: 300px;
  -webkit-perspective: 1600px;
  -webkit-perspective-origin: 50% -240px;
}

figure {
  display: block; 
  position: absolute;
  width: 300px; 
  height: 300px;
  background-color: #60c2ef;
}

@-webkit-keyframes rotate {
  0% { -webkit-transform: rotateY(0); }
  100% { -webkit-transform: rotateY(360deg); }
}

.cube { -webkit-transform-style: preserve-3d; }
figure { -webkit-transform-origin: 50% 50% 0; }
.front { -webkit-transform: translateZ(150px); }
.back { -webkit-transform: rotateY(180deg) translateZ(150px); }

